@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ReactModal__Content {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open {
    opacity: 1;
    transform: translateY(0px);

}

.ReactModal__Content--before-close {
    opacity: 0;
    transform: translateY(-100px);
}