.sidebar {
  float: left;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  padding: 24px;
  width: 320px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.container-page {
  margin-left: 320px;
  padding: 24px;
}
